{{ define "content" }}

  <section id="posts" style="margin: 0 5em 3em;">
    <script async src="https://cse.google.com/cse.js?cx=001572242690368510099:1qzbvo_e_lm"></script>
    <div class="gcse-search"></div>
  </section>

  <section id="posts" class="posts">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ end }}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </section>

  <!-- pagination -->
  {{ partial "pagination.html" . }}

{{ end }}
