{{ define "content" -}}

  <article class="post bg-white">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title" style="line-height:1.4;">
        {{ .Title }}
      </h1>
      {{ partial "post/i18nlist.html" . }}
      <div class="post-meta">
        <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>
        {{ with .Params.categories -}}
          <div class="post-category">
            {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
              <a href="{{ .Permalink }}"> {{ $name }} </a>
            {{ end -}}
            {{ end }}
          </div>
        {{- end }}

        {{ with .Params.tags -}}
          <div class="post-category">
            {{ range . }}
            {{- $name := . -}}
            {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
            <a href="{{ .Permalink }}"> #{{ $name }} </a>
            {{ end -}}
            {{ end }}
          </div>
        {{- end }}

        {{ if .Site.Params.moreMeta -}}
          <span class="more-meta"> {{ i18n "wordCount" .WordCount }} </span>
          <span class="more-meta"> {{ i18n "readingTime" .ReadingTime }} </span>
        {{- end }}

        <!-- Counter busuanzi -->
        {{ if .Site.Params.counter.busuanzi.enable }}
          <span id="busuanzi_container_page_pv">
            | 阅读 <span id="busuanzi_value_page_pv"></span>
          </span>
        {{ end }}

        <!-- Counter leancloud -->
        {{ if .Site.Params.counter.leancloud.enable }}
          <span id="{{ .URL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
            <span class="post-meta-item-text"> | 阅读 </span>
            <span class="leancloud-visitors-count"></span>
          </span>
        {{ end }}
      </div>
    </header>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

    <!-- Desc -->
    <img src="{{ .Params.image }}" style="margin-bottom: 1em; width:100%; background-color:white;">

    <div class="post-summary">
        {{ .Description | safeHTML }}
    </div>

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    {{ partial "post/copyright.html" . }}

    <!-- Reward -->
    {{ partial "post/reward.html" . }}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}">{{ $name }}</a>
          {{ end -}}
          {{ end }}
        </div>
      {{- end }}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "next_post" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>

  <!-- Comments -->
  {{ partial "comments.html" . }}
{{- end }}
