<article class="post bg-white">
  <header class="post-header">
    <h1 class="post-title">
      <a class="post-link" href="{{ .Permalink }}" style="line-height:1.4;">{{ .Title }}</a>
    </h1>
    {{ partial "post/i18nlist.html" . }}
    <div class="post-meta">
      <span class="post-time"> {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} </span>

      {{ with .Params.categories -}}
        <div class="post-category">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
            <a href="{{ .Permalink }}"> {{ $name }} </a>
          {{ end -}}
          {{ end }}
        </div>
      {{- end }}

      {{ if .Site.Params.moreMeta -}}
      <span class="more-meta"> {{ i18n "wordCount" .WordCount }} </span>
      <span class="more-meta"> {{ i18n "readingTime" .ReadingTime }} </span>
      {{- end }}

      <!-- Add by scottchayaa -->
      {{ with .Params.tags -}}
        <div class="post-category">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}"> #{{ $name }} </a>
          {{ end -}}
          {{ end }}
        </div>
      {{- end }}

      <!-- Counter leancloud -->
      {{ if .Site.Params.counter.leancloud.enable }}
        <span id="{{ .URL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
          <span class="post-meta-item-text"> | 阅读 </span>
          <span class="leancloud-visitors-count"></span>
        </span>
      {{ end }}
    </div>
  </header>
  <!-- Content -->
  <div class="post-content">
    {{ if .Site.Params.homeFullContent }}
    <div class="post-summary">
      {{ .Content }}
    </div>
    {{ else }}
    <a class="post-link" href="{{ .URL }}" style="line-height:1.4;">
      <img src="{{ .Params.image  }}" style="margin-bottom: 1em; width:100%; background-color:white;">
    </a>

    <div class="post-summary">
        {{ if .Description }}
          {{ .Description | safeHTML }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
    </div>
    <div class="read-more">
      <a href="{{ .URL }}" class="read-more-link">{{ i18n "readmore" }}</a>
    </div>
    {{ end }}
  </div>
</article>
