<div class="social-links">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $realName := slicestr $name 2 }}
      <a href="{{ $path | safeURL }}" rel="me noopener" class="iconfont icon-{{ $realName }}"
        title="{{ $realName }}" target="_blank">
      </a>
    {{- end }}
  {{- end }}
  {{ with .Site.GetPage "home" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <a href="/post/index.xml" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}" class="iconfont icon-rss"
    title="rss" target="_blank">
  </a>
  {{ end -}}
  {{- end -}}
</div>

<div class="copyright">
  <span class="power-by">
    Powered by <a class="hexo-link" href="https://gohugo.io">Hugo</a>
  </span>
  <span class="division">|</span>
  <span class="theme-info">
    Theme - <a class="theme-link" href="https://github.com/xianmin/hugo-theme-jane">Jane</a>
  </span>

  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      <i class="iconfont icon-heart"></i>
    </span>
    {{- if or .Site.Copyright .Site.Author.name -}}
      <span class="author">
        {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}
        {{ else }}{{ .Site.Author.name | safeHTML }}
        {{ end }}
      </span>
    {{- end -}}
  </span>

  <!-- Counter busuanzi -->
  {{ if .Site.Params.counter.busuanzi.enable }}
    <span id="busuanzi_container">
      访客数/访问量：<span id="busuanzi_value_site_uv"></span>/<span id="busuanzi_value_site_pv"></span>
    </span>
  {{ end }}
</div>
